<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static' , filename='css/style.css') }}" >
  <title> Hare Krishna!! </title>

</head>
<body>
  
  <div class= "main" >
  <h1>Upload a file</h1>
  <div class="row gx-4 gx-lg-5 justify-content-center">
      <form action="/uploader" method="post" enctype="multipart/form-data">
          <input type="file" class="button" name="file1">
          <br>
          <button type="submit" class="button">Submit</button>
      </form>
  </div>
            <hr>
    <h1> Face Detection using OpenCV </h1>
    <img id="bg" src="{{  url_for('video_feed3')  }}" class="center">
  </div>
   </div>
</body>
</html>
  
  